*

!docker

!manifest.webmanifest
!sw.js
!sw-injector.js

!*.html
!*.png
!*.svg
!*.xml

!audio
!audio/**
!css
!css/**
!data
!data/**
!fonts
!fonts/**
!homebrew
!homebrew/**
!icon
!icon/**
!image
!image/**
!img
!img/**
!js
!js/**
!lib
!lib/**
!pdf
!pdf/**
!prerelease
!prerelease/**
!search
!search/**
